body {
  padding-top: 60px;
  padding-bottom: 40px;
}
#hero-container {
    height: 400px;
}

div.bar {
  display: inline-block;
  width: 20px;
  height: 75px;   /* We'll override this later */
  background-color: teal;
  margin-right: 2px;
}
