<link rel="stylesheet/less" type="text/css" href="/stylesheets/styles.less" />
</head>
<body>
<!-- Part 1: Wrap all page content here -->
<div id="wrap">
    <!-- Begin page content -->
    <div class="container">
        <div class="page-header">
            <h1>Editing project</h1>
            <%= link_to "Back", :controller => "projects", :action => "admin" %>
        </div>
        <%= render 'form' %>
    </div>
</div>
<div id="footer">
    <div class="container">
        <p>&copy; LukasAndreas 2012</p>
    </div>
</div>
</body>
</html>
