<link rel="stylesheet/less" type="text/css" href="/stylesheets/main.less" />
</head>
<body>
<!-- Part 1: Wrap all page content here -->
<div id="wrap">

    <!-- Begin page content -->
    <div class="container">
        <div class="page-header">
            <ul class="nav nav-pills">
                <% @projects.each do |project| %>
                    <li class="active"><a href="#"><%= project.name %></a></li>
                <% end %>
            </ul>
        </div>
        <% @projects.each do |project| %>
            <div class="container">
                <h1><%= project.name %></h1>
            </div>
            <% allMedia= Medium.find_all_by_project_id(project.id) %>
            <% allMedia.each do |media| %>
                <div class="mediaContainer">
                    <% if media.category == "image" %>
                        <img src="/<%= media.url %>" />
                    <% else %>
                    <% end %>
                </div>
            <% end %>
        <% end %>

    </div>
    <div id="push"></div>
</div>

<div id="footer">
    <div class="container">
        <p class="muted credit">&copy; Lukas Lund & Andreas Hoff 2012.</p>
    </div>
</div>

