<link rel="stylesheet/less" type="text/css" href="/stylesheets/styles.less" />
</head>
<body>
<!-- Part 1: Wrap all page content here -->
<div id="wrap">
    <!-- Begin page content -->
    <div class="container">
        <p id="notice"><%= notice %></p>

        <p>
            <b>Name:</b>
            <%= @project.name %>
        </p>
        <p>
            <b>Footer:</b>
            <%= @project.footer %>
        </p>
        <%= link_to "Ok great! - Take Me Back", :controller => "projects", :action => "admin" %>

    </div>
</div>
<div id="footer">
</div>
</body>
</html>