<!DOCTYPE html>
<html>
<head>
  <title>Lukasandreas</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

    <!--Javascript-->
    <!--Thirdparty -->
    <script src="./js/thirdparty/jquery-latest.js"></script>
    <script src="./js/thirdparty/bootstrap/bootstrap-transition.js"></script>
    <script src="./js/thirdparty/bootstrap/bootstrap-alert.js"></script>
    <script src="./js/thirdparty/bootstrap/bootstrap-modal.js"></script>
    <script src="./js/thirdparty/bootstrap/bootstrap-dropdown.js"></script>
    <script src="./js/thirdparty/bootstrap/bootstrap-scrollspy.js"></script>
    <script src="./js/thirdparty/bootstrap/bootstrap-tab.js"></script>
    <script src="./js/thirdparty/bootstrap/bootstrap-tooltip.js"></script>
    <script src="./js/thirdparty/bootstrap/bootstrap-popover.js"></script>
    <script src="./js/thirdparty/bootstrap/bootstrap-button.js"></script>
    <script src="./js/thirdparty/bootstrap/bootstrap-collapse.js"></script>
    <script src="./js/thirdparty/bootstrap/bootstrap-carousel.js"></script>
    <script src="./js/thirdparty/bootstrap/bootstrap-typeahead.js"></script>
    <script src="./js/thirdparty/d3.v3.js"></script>

    <!--App -->
    <script src="js/namespace.js"></script>
    <script src="js/model/Constants.js"></script>
    <script src="js/pre/ThreeLittleCircles.js"></script>
    <script src="js/pre/ThinkingInJoins.js"></script>
    <script src="js/App.js"></script>

</head>
<body>

<%= yield %>

</body>
</html>
